<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="meterStatus">
            <h2><span>Meter Status</span> {{meterStatus.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Meter Status</span></dt>
                <dd>
                    <span>{{meterStatus.meterStatus}}</span>
                </dd>
                <dt><span>Ind In Use</span></dt>
                <dd>
                    <span>{{meterStatus.indInUse}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/meter-status', meterStatus.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
