<div>
    <h2 id="page-heading">
        <span>Meter Makes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-meter-make" [routerLink]="['/meter-make/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Meter Make
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="meterMakes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Meter Make</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let meterMake of meterMakes ;trackBy: trackId">
                <td><a [routerLink]="['/meter-make', meterMake.id, 'view' ]">{{meterMake.id}}</a></td>
                <td>{{meterMake.meterMake}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/meter-make', meterMake.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/meter-make', meterMake.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'meter-make/'+ meterMake.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
