<div>
    <h2 id="page-heading">
        <span>Meter Models</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-meter-model" [routerLink]="['/meter-model/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Meter Model
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="meterModels">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Meter Model</span></th>
            <th><span>Meter Make</span></th>
            <th><span>Meter Type</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let meterModel of meterModels ;trackBy: trackId">
                <td><a [routerLink]="['/meter-model', meterModel.id, 'view' ]">{{meterModel.id}}</a></td>
                <td>{{meterModel.meterModel}}</td>
                <td>
                    <div *ngIf="meterModel.meterMake">
                        <a [routerLink]="['../meter-make', meterModel.meterMake?.id, 'view' ]" >{{meterModel.meterMake?.meterMake}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="meterModel.meterType">
                        <a [routerLink]="['../meter-type', meterModel.meterType?.id, 'view' ]" >{{meterModel.meterType?.meterType}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/meter-model', meterModel.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/meter-model', meterModel.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'meter-model/'+ meterModel.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
