<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="meterModel">
            <h2><span>Meter Model</span> {{meterModel.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Meter Model</span></dt>
                <dd>
                    <span>{{meterModel.meterModel}}</span>
                </dd>
                <dt><span>Meter Make</span></dt>
                <dd>
                    <div *ngIf="meterModel.meterMake">
                        <a [routerLink]="['/meter-make', meterModel.meterMake?.id, 'view']">{{meterModel.meterMake?.id}}</a>
                    </div>
                </dd>
                <dt><span>Meter Type</span></dt>
                <dd>
                    <div *ngIf="meterModel.meterType">
                        <a [routerLink]="['/meter-type', meterModel.meterType?.id, 'view']">{{meterModel.meterType?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/meter-model', meterModel.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
